* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 12px 50px;
  height: 70px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
}
header.sticky {
  background: rgba(255, 255, 255, 1);
}
header:hover {
  background: rgba(255, 255, 255, 1);
}
.logo {
  flex: 1;
}
.menu {
  flex: 3;
  display: flex;
}
.menu > li {
  padding: 0 12px;
  position: relative;
}
.menu > li:hover .sub-menu {
  visibility: visible;
  top: 45px;
}
.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc;
  padding: 10px 0 10px 20px;
  visibility: hidden;
  top: 60px;
  transition: 0.3s;
  z-index: 1;
  background: #fff;
}
.sub-menu ul {
  padding-left: 20px;
}
.sub-menu li a {
  font-weight: normal;
  font-size: 12px !important;
}
.menu li a {
  font-size: 12px;
  font-weight: bold !important;
  display: block;
  line-height: 20px;
}
.others {
  flex: 1;
  display: flex;
}
.others > li {
  padding: 0 12px;
  position: relative;
}
.others > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 50%;
  background: #cccccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.others > li:last-child::after {
  display: none;
}
.others > li:first-child {
  position: relative;
}
.others > li:first-child input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  background: transparent;
  outline: none;
  padding: 0px 25px 0px 0px;
}
.others > li:first-child i {
  position: absolute;
  right: 10px;
}

/* Image */
#Slider {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Slider img {
  width: 100%;
  padding: 0 10px;
  object-fit: contain;
}
.slider__button {
  z-index: 100;
  top: 350px;
}
.slider__button button i {
  font-size: 32px;
  color: white;
  background: black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}
.slider__button button:first-child {
  left: 20px;
  position: absolute;
  z-index: 200;
}
.slider__button button:last-child {
  right: 20px;
  position: absolute;
  z-index: 200;
}
#Slider {
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  overflow: hidden;
}

/* ---------------- app-container ---------------- */
.app-container {
  text-align: center;
  align-items: center;
  padding: 150px 0 50px 0;
}
.app-google {
  margin: 50px;
}
.app-google img {
  height: 50px;
}
.app-container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 17px;
  color: #000;
  font-weight: bold;
}
.app-container input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  width: 400px;
  text-align: center;
  outline: none;
}
/* --------------- footer -------------------- */
footer {
  text-align: center;
}
.footer-top {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 70px;
}
.footer-top img {
  height: 50px;
}
.footer-top li {
  padding: 0 12px;
  position: relative;
}
.footer-top li::after {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background: #cccccc;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-top li:last-child::after {
  display: none;
}
.footer-top li:last-child a {
  margin-right: 12px;
  color: #333;
}
.footer-center {
  text-align: center;
}
.footer-center p {
  color: green;
  font-weight: 600;
}
.footer-center b {
  color: blue;
}
.footer-bottom {
  margin: 20px 0;
  text-align: center;
  color: gray;
  font-weight: 500;
}
/* Category */
.row {
  display: flex;
  flex-wrap: wrap;
}
.category {
  padding: 100px 50px 0;
}
.category-top {
  margin-bottom: 50px;
}
.category-top p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 12px;
}
.category-left {
  width: 20%;
}
.category-right {
  width: 80%;
}
.category-right-top-item:first-child {
  /* 2 lan khoang cach cua flex:1 */
  flex: 2;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.category-right-top-item {
  flex: 1;
  padding: 0 12px;
}
.category-right-top-item button {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.category-right-top-item select {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.category-right-content {
  margin-top: 20px;
  justify-content: space-between;
}
.category-right-content-item {
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}
.category-right-content-item h1 {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 6px;
  color: #333333;
}
.category-right-content-item img {
  width: 100%;
}
.category-right-content-item p {
  font-size: 12px;
}
.category-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
  width: 100%;
}
.category-right-bottom p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.category-left ul li {
  padding: 12px 0;
}
.category-left ul li > a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.category-left ul li ul li {
  padding-left: 10px;
}
.category-left-li ul {
  display: none;
}
.category-left-li.block ul {
  display: block;
}
.category-left ul li ul li a {
  color: #333333;
  font-size: 12px;
}
/* Product - detail */
.product {
  padding: 100px 50px;
}
.product-top {
  margin-bottom: 30px;
}
.product-top p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 12px;
  font-size: 12px;
}
.product-content-left {
  width: 50%;
}
.product-content-left-big-img {
  width: 80%;
  padding-right: 20px;
}
.product-content-left-big-img img {
  width: 100%;
}
.product-content-left-small-img {
  width: 20%;
}
.product-content-left-small-img img {
  cursor: pointer;
  width: 100%;
}
.product-content-right {
  width: 50%;
  padding-left: 20px;
}
.product-content-right-product-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.product-content-right-product-name p {
  color: #cccccc;
  font-size: 12px;
}
.product-content-right-product-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.product-content-right-product-color img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.product-content-right-product-color-img {
  height: 40px;
  width: 40px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}
.size span {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid #dddddd;
  margin: 12px 10px 12px 0;
  font-size: 12px;
  cursor: pointer;
}
.quantity {
  display: flex;
  margin-bottom: 20px;
}
.quantity input {
  width: 35px;
  padding-left: 3px;
}
.product-content-right-product-button button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 20px 0 12px;
  transition: all 0.3s ease;
}
.product-content-right-product-button button:first-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border: 2px solid black;
  cursor: pointer;
}
.product-content-right-product-button button:first-child:hover {
  background-color: black;
  color: #fff;
}
.product-content-right-product-button button:last-child:hover {
  border: 2px solid #bf8a49;
  color: #bf8a49;
  background-color: #fff;
  cursor: pointer;
}
.product-content-right-product-icon {
  display: flex;
}
.product-content-right-product-icon-item {
  display: flex;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
}
.product-content-right-product-icon-item i {
  font-size: 12px;
  margin-right: 6px;
}
.product-content-right-product-QR {
  margin: 20px 0;
}
.product-content-right-bottom {
  padding-top: 40px;
  position: relative;
  border-top: 1px solid #dddddd;
}
.product-content-right-bottom-top {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  top: -15px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.product-content-right-bottom-content-title {
  border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item {
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-content-right-bottom-content-title-item p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.product-content-right-bottom-content {
  padding-top: 30px;
}
.product-content-right-bottom-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.product-content-right-bottom-content-baoquan {
  display: none;
}
.activeB {
  display: none;
}
/* Product-related */
.product-related {
  margin-bottom: 50px;
  padding: 0 50px;
}
.product-related-title {
  margin: 20px 0;
}
.product-related-title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.product-related-item {
  width: 20%;
  text-align: center;
  padding: 0 6px;
}
.product-related-item img {
  width: 100%;
}
.product-related-item h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333;
  margin-top: 6px;
}
.product-related-item p {
  font-size: 12px;
}
/* Cart */
.cart {
  padding: 100px 0;
  padding: 0 50px;
}
.cart-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.cart-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 100px;
}
.cart-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.cart-top-item i {
  color: #dddddd;
}
.cart-top-cart {
  border: 1px solid #0db7ea;
}
.cart-top-cart i {
  color: #0db7ea;
}
.cart-content-left {
  flex: 2;
  padding-right: 12px;
}
.cart-content-left table {
  width: 100%;
  text-align: center;
}
.cart-content-left table th {
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}
.cart-content-left table p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
.cart-content-left table input {
  width: 30px;
}
.cart-content-left table span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.cart-content-left table td {
  padding: 20px 0;
  border-bottom: 2px solid #dddddd;
}
.cart-content-left td:first-child img {
  width: 130px;
}
.cart-content-left td:nth-child(2) {
  max-width: 130px;
}
.cart-content-left td:nth-child(3) {
  width: 30px;
}
.cart-content-right {
  flex: 1;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
}
.cart-content-right table {
  width: 100%;
}
.cart-content-right table th {
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}
.cart-content-right table td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td {
  border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td:last-child {
  text-align: right;
}
.cart-content-right-text {
  margin: 20px 0;
  text-align: center;
}
.cart-content-right-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
.cart-content-right-button {
  text-align: center;
  align-items: center;
}
.cart-content-right-button button:first-child {
  background-color: #fff;
  border: 1px solid black;
  margin-right: 20px;
}
.cart-content-right-button button:first-child:hover {
  background-color: #ddd;
}
.cart-content-right-button button:last-child {
  background-color: black;
  color: #fff;
  border: none;
  border: 1px solid black;
}
.cart-content-right-button button:last-child:hover {
  background-color: #dddddd;
  color: black;
}
.cart-content-right-dangnhap {
  margin-top: 20px;
}
.cart-content-right-dangnhap p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}
/* Delivery */
.delivery {
  padding: 100px 50px;
}
.delivery-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 100px;
}
.delivery-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.delivery-top-item i {
  color: #dddddd;
}
.delivery-top-adress {
  border: 1px solid #0db7ea;
}
.delivery-top-adress i {
  color: #0db7ea;
}
.delivery-content-left {
  width: 60%;
  padding-right: 12px;
}
.delivery-content-left p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.delivery-content-left > p {
  font-weight: bold;
}
.delivery-content-left label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}
.delivery-content-left-dangnhap {
  margin-top: 12px;
}
.delivery-content-left-dangnhap i {
  font-size: 12px;
  margin-right: 12px;
}
.delivery-content-left-khachle {
  margin: 12px 0;
}
.delivery-content-left-khachle input {
  margin-right: 12px;
}
.delivery-content-left-dangky {
  margin-bottom: 30px;
}
.delivery-content-left-dangky input {
  margin-right: 12px;
}
.delivery-content-left-input-top {
  justify-content: space-between;
}
.delivery-content-left-input-top-item {
  width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input {
  width: 100%;
  height: 35px;
  border: 1px solid #dddddd;
  padding-left: 6px;
}
.delivery-content-left-input-bottom input {
  width: 100%;
  height: 35px;
  border: 1px solid #dddddd;
  padding-left: 6px;
}
.delivery-content-left-button p {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.delivery-content-left-button span {
  margin-right: 12px;
}
.delivery-content-left-button {
  justify-content: space-between;
  padding-top: 20px;
}
.delivery-content-left-button button {
  height: 35px;
  border: 2px solid black;
  cursor: pointer;
  padding: 6px 12px;
  transition: all 0.3s ease;
}
.delivery-content-left-button button:hover {
  background-color: black;
  color: #fff;
}
.delivery-content-right {
  width: 40%;
  padding-left: 12px;
  border-left: 2px solid #dddddd;
  height: auto;
}
.delivery-content-right table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}
.delivery-content-right table tr th:first-child {
  text-align: left;
}
.delivery-content-right table tr th {
  padding-bottom: 12px;
  border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th:last-child {
  text-align: right;
}
.delivery-content-right table tr td {
  padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4) {
  border-top: 2px solid #dddddd;
}
.delivery-content-right table tr td:last-child {
  text-align: right;
}
.delivery-content-right table tr td:first-child {
  text-align: left;
}
/* Payment */
.payment {
  padding: 100px 0;
}
.payment-top-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-top {
  height: 2px;
  width: 70%;
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 100px;
}
.payment-top-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.payment-top-item i {
  color: #dddddd;
}
.payment-top-payment {
  border: 1px solid #0db7ea;
}
.payment-top-payment i {
  color: #0db7ea;
}
.payment-content {
  padding: 0 50px;
}
.payment-content-left {
  width: 60%;
  padding: 0 100px;
}
.payment-content-left p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.payment-content-right {
  width: 40%;
}
.payment-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-bottom button {
  padding: 10px 15px;
}
.payment-content-left-one {
  padding: 12px;
}
.payment-content-left-one li {
  padding-left: 6px;
}
.payment-content-left-one input {
  transform: translateY(2px);
}
.payment-content-left span {
  padding: 0 20px;
}
.payment-content-left-two {
  padding: 15px;
}
.payment-content-left-two li {
  padding-left: 6px;
}
.payment-content-left-two input {
  transform: translateY(2px);
}
.payment-content-left-three {
  padding: 15px;
}
.payment-content-left-three li {
  padding-left: 6px;
}
.payment-content-left-three input {
  transform: translateY(2px);
}
.payment-content-left-for {
  padding: 15px;
}
.payment-content-left-for li {
  padding-left: 6px;
}
.payment-content-left-for input {
  transform: translateY(2px);
}
.payment-content-left-five {
  padding: 15px;
}
.payment-content-left-five li {
  padding-left: 6px;
}
.payment-content-left-five input {
  transform: translateY(2px);
}
.payment-content-right {
}
.pay-content-right input {
  width: 250px;
  height: 30px;
  padding: 10px 0;
  padding-left: 4px;
}
.pay-content-right input:first-child {
  margin-bottom: 20px;
}
/* Redirect */
.redirect {
  margin-bottom: 10px;
}
/* Responsive */
/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
  header {
    width: 40%;
  }
  .logo a img {
    width: 80px;
    object-fit: cover;
    left: 18px;
    position: absolute;
    top: 24px;
  }
  .menu li a {
    display: none;
  }
  .footer-top li a {
  }
}
/* Validation */
.authentication {
  width: 500px;
  height: 520px;
  background: gray;
  margin: 200px auto;
}
.authentication h2 {
  text-align: center;
  font-size: 20px;
  color: greenyellow;
  font-weight: 400;
  padding: 20px 0;
}
.row-column {
  display: flex;
  flex-direction: column;
}
.row-column label {
  padding: 0 20px;
  color: white;
}
.row-column input {
  width: 90%;
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 12px 20px;
  padding: 0 10px;
}
.row-column input:last-child {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  color: white;
  background: gold;
  font-weight: bold;
}
.row-column div {
  margin: 10px 30px;
  color: #ddd;
}
/* Modal */
.item-three {
  height: 200px;
  /* width: 600px; */
  overflow: hidden;
  font-family: sans-serif;
  background: linear-gradient(
    45deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%
  );
  margin-top: 80px;
}
.open-modal-btn {
  padding: 20px 40px;
  border: none;
  outline: none;
  border-radius: 6px;
  position: relative;
  top: 50%;
  left: 08%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}
.modal__inner {
  width: 400px;
  position: relative;
  top: 44%;
  /* margin: auto; */
  margin-left: 710px;
  background: #cccccc;
  border-radius: 5px;
  overflow: hidden;
  animation: modalShow 0.2s linear;
}
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: var(--pink-color);
  color: green;
}
.modal__body {
  padding: 15px;
}
.modal__body h2 {
  color: var(--pink-color);
  margin-bottom: 10px;
}
.modal__footer {
  padding: 15px;
  text-align: right;
}
.modal__footer button {
  padding: 10px 20px;
  color: green;
  background: var(--pink-color);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.hide {
  display: none;
}
@keyframes modalShow {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
/* Tablet: width >=740px and width < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}
/* Pc : width >= 1024px */
@media only screen and (max-width: 1024px) {
}
